@model List<Licencias.Presentation.Models.CronogramaFiscalizacionModel>

@{
    ViewBag.Title = "Index";
}

@section StyleContent {
    <!-- DATA TABLES -->
    <link href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
}

@section HeaderContent {
    <section class="content-header">
        <h1>
            Cronograma
            <small>Listado</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Actualizar Cronograma</li>
        </ol>
    </section>
}

<div class="box box-info">
    <div class="box-header with-border">
        <a class="btn btn-info pull-right" href="@Url.Action("Crear")">
            <i class="fa fa-edit"></i>
            Nuevo
        </a>
    </div>
    <div class="box-body">
        <table id="grilla" class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 30%;">Nombre</th>
                    <th style="width: 20%;">Fecha Fiscalización</th>
                    <th style="width: 45%;">Nº Licencia</th>
                    <th style="width: 3%;"></th>
                    <th style="width: 3%;"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
    
@section ScriptContent {
    <!-- DATA TABES SCRIPT -->
    <script src="@Url.Content("~/Content/datatables/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/datatables/dataTables.bootstrap.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        var dataSet = JSON.parse('@Html.Raw(Json.Encode(Model))');

        var grilla = jQuery('#grilla').DataTable({
            //dom: '<"left"f><"right"l>trip',
            responsive: true,
            language: {
                "url": "@Url.Content("~/Content/datatables/languages/dataTables.es.json")"
            },
            data: dataSet,
            columns: [
                { "data": "Id" },
                { "data": "FiscalizadorNombre" },
                { "data": "FechaFiscalizacion" },
                { "data": "NumLicencia" },
                {
                    "data": function(oObj) {
                        return '<a href="@Url.Action("Editar", "Cronograma")/' + oObj.Id + '" title="Editar"><i class="fa fa-edit"></i></a>';
                    },
                    "orderable": false,
                    "searchable": false
                },
                {
                    "data": function(oObj) {
                        return '<a href="@Url.Action("Ver", "Cronograma")/' + oObj.Id + '" title="Ver"><i class="fa fa-eye"></i></a>';
                    },
                    "orderable": false,
                    "searchable": false
                }
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ],
            "order": [[1, 'asc']]
        });
    });
    </script>
}
