@model Licencias.Presentation.Models.CronogramaFiscalizacionModel

@{
    ViewBag.Title = "Editar";
}

@section StyleContent
{
    <link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .ui-datepicker-month, .ui-datepicker-year {
            color: black;
        }
    </style>
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Actualizar Cronograma</h3>
    </div>
    @using (Html.BeginForm(Model.Accion, "Fiscalizacion", new {area = ""}, FormMethod.Post, new {id = "frmCronograma", @class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()
        
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(p => p.NumLicencia, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-4">
                    @Html.TextBoxFor(p => p.NumLicencia, new {@class = "form-control", @disabled = "disabled"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.LocalId, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-8">
                    @{
                        var list = new List<SelectListItem>();

                        if (!string.IsNullOrEmpty(Model.LocalDireccion))
                        {
                            list.Add(
                                new SelectListItem
                                {
                                    Value = Convert.ToString(Model.LocalId),
                                    Text = Model.LocalDireccion
                                });
                        }
                    }

                    @Html.DropDownListFor(p => p.LocalId, list, new { @class = "form-control" })
                    <div class="help-block">@Html.ValidationMessageFor(p => p.LocalId)</div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.FechaFiscalizacion, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-4">
                    @Html.TextBoxFor(p => p.FechaFiscalizacion, new {@class = "form-control", @maxlength = 10})
                    <div class="help-block">@Html.ValidationMessageFor(p => p.FechaFiscalizacion)</div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.FiscalizadorId, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-8">
                    @{
                        var fiscalizadorList = new List<SelectListItem>();

                        if (!string.IsNullOrEmpty(Model.FiscalizadorNombre))
                        {
                            fiscalizadorList.Add(
                                new SelectListItem
                                {
                                    Value = Convert.ToString(Model.FiscalizadorId),
                                    Text = Model.FiscalizadorNombre
                                });
                        }
                    }

                    @Html.DropDownListFor(p => p.FiscalizadorId, fiscalizadorList, new { @class = "form-control" })
                    <div class="help-block">@Html.ValidationMessageFor(p => p.FiscalizadorId)</div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Comentario, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-8">
                    @Html.TextAreaFor(p => p.Comentario, new {@class = "form-control", @maxlength = 500})
                    <div class="help-block">@Html.ValidationMessageFor(p => p.Comentario)</div>
                </div>
            </div>
            <div class="form-group">
                @Html.HiddenFor(p => p.Id)
                @Html.HiddenFor(p => p.LicenciaId)
            </div>
        </div>
        <div class="box-footer">
            <div class="col-md-offset-3 col-md-9">
                <a class="btn btn-default" href="@Url.Action("Index", "Fiscalizacion")">
                    <i class="fa fa-reply"></i>
                    Regresar
                </a>
                &nbsp; &nbsp; &nbsp;
                <button type="submit" class="btn btn-info">
                    <i class="fa fa-floppy-o"></i>
                    Guardar
                </button>
            </div>
        </div>
    }
</div>

@section ScriptContent
{
    <script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/select2.min.js")"></script>
    <script src="@Url.Content("~/Content/js/i18n/es.js")"></script>
    <script src="@Url.Content("~/Content/js/jQuery/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jQuery/datepicker-es.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $("#frmCronograma").on("submit", function(e) {
            if (!$(this).valid()) {
                e.preventDefault();
                return;
            }

            var form = webApp.getDataForm(this);

            webApp.showConfirmDialog(function() {
                $.ajax({
                    url: form.url,
                    type: form.type,
                    data: form.data,
                    success: function(response) {
                        if (response.Success === true) {
                            webApp.showMessageDialog(function() {
                                window.location.href = "@Url.Action("Index", "Fiscalizacion")";
                            }, response.Message);
                        } else
                            webApp.showMessageDialog(function() {}, response.Message);
                    },
                    error: function(x, xh, xhr) {
                        console.error(xh);
                    },
                    complete: function() {
                    }
                });
            });

            e.preventDefault();
        });

        $("#FechaFiscalizacion").datepicker({
            changeMonth: true,
            changeYear: true,
            option: $.datepicker.regional['es'],
            yearRange: "@DateTime.Today.Year:+0"
        });

        $("#LocalId").select2({
            language: "es",
            placeholder: 'Dirección de Local',
            minimumInputLength: 3,
            minimumResultsForSearch: 10,
            delay: 250,
            allowClear: true,
            ajax: {
                url: '@Url.Action("GetLicencias", "Fiscalizacion")',
                dataType: 'json',
                type: "POST",
                quietMillis: 250,
                data: function(params) {
                    return {
                        search: params.term
                    };
                },
                processResults: function(data, page) {
                    return {
                        results: data.Data
                    };
                },
                cache: true
            }
        });
        
        $("#FiscalizadorId").select2({
            language: "es",
            placeholder: 'Fiscalizador',
            minimumInputLength: 3,
            minimumResultsForSearch: 10,
            delay: 250,
            allowClear: true,
            ajax: {
                url: '@Url.Action("GetFiscalizadores", "Fiscalizacion")',
                dataType: 'json',
                type: "POST",
                quietMillis: 250,
                data: function (params) {
                    return {
                        search: params.term
                    };
                },
                processResults: function (data, page) {
                    return {
                        results: data.Data
                    };
                },
                cache: true
            }
        });

        $("#LocalId").on("select2:select", function(e) {
            $('#NumLicencia').val(e.params.data.numLicencia);
            $('#LicenciaId').val(e.params.data.id);
        });
</script>
}
