@using Licencias.Presentation.Core
@model Licencias.Presentation.Models.FiscalizacionModel

@{
    ViewBag.Title = "Editar";
    ViewBag.Index = 3;
}

@section StyleContent
{
    <link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/dropzone.css")" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .ui-datepicker-month, .ui-datepicker-year {
            color: black;
        }
    </style>
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Actualizar Fiscalización</h3>
    </div>
    @using (Html.BeginForm("EditarFiscalizacion", "Fiscalizacion", new { area = "" }, FormMethod.Post, new { id = "frmFiscalizacion", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(p => p.NumLicencia, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(p => p.NumLicencia, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <button type="button" class="btn btn-social btn-success" id="btnImagenLicencia">
                    <i class="fa fa-instagram"></i> Ver Imagen
                </button>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.LocalDireccion, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(p => p.LocalDireccion, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.EstadoId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @Html.DropDownListFor(p => p.EstadoId, Utils.SelectEstadoFiscalizacion(), new { @class = "form-control" })
                    <div class="help-block">@Html.ValidationMessageFor(p => p.EstadoId)</div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.FechaFiscalizacion, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-4">
                    @Html.TextBoxFor(p => p.FechaFiscalizacion, new {@class = "form-control", @maxlength = 10})
                    <div class="help-block">@Html.ValidationMessageFor(p => p.FechaFiscalizacion)</div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Requisitos", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    <button type="button" id="btnRequisito" class="btn btn-success">
                        <i class="fa fa-check-square"></i>
                        Verificar Requisitos
                    </button>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Detalle, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @Html.TextAreaFor(p => p.Detalle, new { @class = "form-control", @maxlength = 1000 })
                    <div class="help-block">@Html.ValidationMessageFor(p => p.Detalle)</div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Observacion, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @Html.TextAreaFor(p => p.Observacion, new { @class = "form-control", @maxlength = 1000 })
                    <div class="help-block">@Html.ValidationMessageFor(p => p.Observacion)</div>
                </div>
            </div>
            <div class="form-group">
                @Html.HiddenFor(p => p.Id)
            </div>
        </div>
        <div class="box-footer">
            <div class="col-md-offset-3 col-md-9">
                <button type="button" id="btnImages" class="btn btn-info">
                    <i class="fa fa-cloud-upload"></i>
                    Adjuntar Evidencias Fotográficas
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="submit" class="btn btn-info">
                    <i class="fa fa-floppy-o"></i>
                    Guardar
                </button>
                &nbsp; &nbsp; &nbsp;
                <a class="btn btn-default" href="@Url.Action("Fiscalizaciones", "Fiscalizacion")">
                    <i class="fa fa-reply"></i>
                    Regresar
                </a>
            </div>
        </div>
    }
</div>

<div class="modal" id="modalImages">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Evidencias Fotográficas</h4>
            </div>
            <div class="modal-body" id="divUpload">
                <form action="@Url.Action("SaveUploadedFile", "Fiscalizacion")" class="dropzone" id="fileEvidencia">
                    <div class="fallback">
                        <input name="file" type="file" multiple=""/>
                    </div>
                </form>
                @foreach (var item in Model.RequisitoList)
                {
                    <form action="@Url.Action("SaveUploadedFile", "Fiscalizacion")" class="dropzone" id="@string.Format("file{0}", item.RequisitoId)" style="display: none">
                        <div class="fallback">
                            <input name="file" type="file" multiple="" />
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalImagenLicencia" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Licencia</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="@Model.UriImagen" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalRequisitos" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Requisitos necesarios para el giro @Model.GiroDescripcion</h4>
            </div>
            <div class="modal-body">
                <div class="box-body table-responsive no-padding">
                    <table id="tableRequisito" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="display: none">Id</th>
                                <th style="width: 8%">Cumple?</th>
                                <th style="width: 30%">Requisito</th>
                                <th style="width: 47%">Comentario</th>
                                <th style="width: 15%">Imágenes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var requisito in Model.RequisitoList)
                            {
                                <tr>
                                    <td style="display: none" data-id="">@requisito.RequisitoId</td>
                                    @if (requisito.Cumplido)
                                    {
                                        <td class="text-center"><input type="checkbox" checked="checked" data-cumplido="" /></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><input type="checkbox" data-cumplido="" /></td>
                                    }
                                    <td>@requisito.Valor</td>
                                    <td><textarea cols="40" data-comentario="">@requisito.Comentario</textarea></td>
                                    <td>
                                        <button type="button" class="btn btn-success" data-requisitoid="@requisito.RequisitoId">
                                            <i class="fa fa-paperclip"></i>
                                            Adjuntar
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section ScriptContent
{
    <script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/dropzone.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/select2.min.js")"></script>
    <script src="@Url.Content("~/Content/js/i18n/es.js")"></script>
    <script src="@Url.Content("~/Content/js/jQuery/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jQuery/datepicker-es.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $("#btnImages").on('click', function() {
            $("form.dropzone").css("display", "none");
            $("#fileEvidencia").css("display", "block");
            $("#modalImages").modal('show');
        });

        $("#tableRequisito").on("click", "button[data-requisitoid]", function() {
            $("form.dropzone").css("display", "none");
            $("#file" + $(this).data("requisitoid")).css("display", "block");
            $("#modalImages").modal('show');
        });

        $("#btnImagenLicencia").on('click', function() {
            $("#modalImagenLicencia").modal('show');
        });

        $("#btnRequisito").on('click', function() {
            $("#modalRequisitos").modal('show');
        });

        $("#frmFiscalizacion").on("submit", function(e) {
            if (!$(this).valid()) {
                e.preventDefault();
                return;
            }

            var form = webApp.getDataFormAppend(this);
            var requisitoList = [];

            $("#tableRequisito tbody tr").each(function() {
                var $tr = $(this);
                requisitoList.push({
                    RequisitoId: $tr.find('[data-id]').text(),
                    Comentario: $tr.find('[data-comentario]').val(),
                    Cumplido: $tr.find('[data-cumplido]').is(":checked")
                });
            });

            webApp.AppendDataArrayForm(form, requisitoList, "RequisitoList");

            $("form.dropzone").each(function() {
                var id = $(this).prop('id');
                var list = Dropzone.forElement("#" + id).getQueuedFiles();

                for (var i = 0; i < list.length; i++) {
                    form.data.append(id + "[" + i + "]", list[i]);
                }
            });

            webApp.showConfirmDialog(function() {
                $.ajax({
                    url: form.url,
                    type: form.type,
                    data: form.data,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.Success === true) {
                            //myDropzone.processQueue();
                            webApp.showMessageDialog(function() {
                                window.location.href = "@Url.Action("Fiscalizaciones", "Fiscalizacion")";
                            }, response.Message);
                        } else
                            webApp.showMessageDialog(function() {
                            }, response.Message);
                    }
                });
            });

            e.preventDefault();
            });

        $("#FechaFiscalizacion").datepicker({
            changeMonth: true,
            changeYear: true,
            option: $.datepicker.regional['es'],
            yearRange: "@DateTime.Today.Year:+0"
        });

        function createDropzone(id) {
            try {
                Dropzone.autoDiscover = false;
                var myDropzone = new Dropzone(id, {
                    acceptedFiles: "image/*",
                    paramName: "file", // The name that will be used to transfer the file
                    maxFilesize: 4.0, // MB
                    addRemoveLinks: true,
                    uploadMultiple: true,
                    autoProcessQueue: false,
                    dictDefaultMessage:
                        '<span class="bigger-150 bolder"><i class="ace-icon fa fa-caret-right red"></i> Drop files</span> to upload \
				    <span class="smaller-80 grey">(or click)</span> <br /> \
				    <i class="upload-icon ace-icon fa fa-cloud-upload blue fa-3x"></i>',
                    dictResponseError: 'Error while uploading file!',

                    //change the previewTemplate to use Bootstrap progress bars
                    previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"progress progress-small progress-striped active\"><div class=\"progress-bar progress-bar-success\" data-dz-uploadprogress></div></div>\n  <div class=\"dz-success-mark\"><span></span></div>\n  <div class=\"dz-error-mark\"><span></span></div>\n  <div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n</div>"
                });

            } catch (e) {
                alert('Dropzone.js does not support older browsers!');
            }
        }

        $.each(@Json.Encode(Model.RequisitoList.Select(p => p.RequisitoId)), function(index, value) {
            createDropzone("#file" + value);
        });

        createDropzone("#fileEvidencia");

        $(document)
            .on('show.bs.modal', '.modal', function() {
                $(this).appendTo($('body'));
            })
            .on('shown.bs.modal', '.modal.in', function() {
                setModalsAndBackdropsOrder();
            })
            .on('hidden.bs.modal', '.modal', function() {
                setModalsAndBackdropsOrder();
                if ($('.modal.in').length === 0) {
                    $('body').removeClass('modal-open');
                }
            });

        function setModalsAndBackdropsOrder() {  
            $('body').addClass('modal-open');
            var modalZIndex = $('.modal.in').length + 1050 + 1;
            var backdropZIndex = modalZIndex - 1;
            $('.modal-backdrop').addClass('hidden');
            $('.modal.in:last').css('z-index', modalZIndex);
            $('.modal-backdrop.in:last').css('z-index', backdropZIndex).removeClass('hidden');
        }

    </script>
}