@model Licencias.Presentation.Models.CronogramaFiscalizacionModel

@{
    ViewBag.Title = "Ver";
    ViewBag.Index = 2;
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Ver Cronograma</h3>
    </div>
    <div class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(p => p.NumLicencia, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(p => p.NumLicencia, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Direccion, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(p => p.Direccion, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.FechaFiscalizacion, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(p => p.FechaFiscalizacion, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.FiscalizadorNombre, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(p => p.FiscalizadorNombre, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Comentario, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @Html.TextAreaFor(p => p.Comentario, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="col-md-offset-3 col-md-9">
            <a class="btn btn-default" href="@Url.Action("Index", "Fiscalizacion")">
                <i class="fa fa-reply"></i>
                Regresar
            </a>
        </div>
    </div>
</div>